[Desktop Entry]
Name=Conky
Comment=System Information Overlay
Exec=conky -c /usr/share/conky/conky.conf
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
