---
name: Build Stable ISOs
on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/build-iso-stable.yml"
      - ".github/workflows/reusable-build-iso-anaconda.yml"
      - "iso_files/**"
  workflow_dispatch:
    inputs:
      upload_artifacts:
        description: 'Upload ISOs as job artifacts'
        type: boolean
        default: false
      upload_r2:
        description: 'Upload ISOs to Cloudflare R2'
        type: boolean
        default: true
  schedule:
    - cron: "0 3 * * 2" # Push to testing bucket every week at 03:00 on Tuesdays - 2h after Aurora publishes weekly builds.

jobs:
  build-iso-stable:
    name: Build Stable ISOs
    uses: ./.github/workflows/reusable-build-iso-anaconda.yml
    secrets: inherit
    with:
      # Only upload artifacts if manually requested
      upload_artifacts: ${{ github.event_name == 'workflow_dispatch' && inputs.upload_artifacts || false }}
      # Upload to R2 if it's a scheduled run OR if manually requested
      upload_r2: ${{ github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && inputs.upload_r2) }}
